<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ea.eamobile.nfsmw.model.mapper.CarExtMapper">

  <resultMap id="baseMap" type="com.ea.eamobile.nfsmw.model.CarExt">
    <result property="carId" column="car_id"/>
    <result property="startTime" column="start_time"/>
    <result property="endTime" column="end_time"/>
    <result property="visible" column="visible"/>
    <result property="price" column="price"/>
    <result property="priceType" column="price_type"/>
  </resultMap>

	<select id="getCarExt" parameterType="string" resultMap="baseMap">
	    SELECT * from car_ext where car_id = #{carId}
	</select>
	
	<select id="getCarExtList" resultMap="baseMap">
	    SELECT * from car_ext
	</select>

	
	<update id="update"  parameterType="com.ea.eamobile.nfsmw.model.CarExt">
	    update car_ext set 
      car_id=#{carId},
      start_time=#{startTime},
      end_time=#{endTime},
      visible=#{visible},
      price=#{price},
      price_type=#{priceType}      where car_id = #{carId}
	</update>
	

	
</mapper>