<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ea.eamobile.nfsmw.model.mapper.DailyRaceModeIdMapper">

  <resultMap id="baseMap" type="com.ea.eamobile.nfsmw.model.DailyRaceModeId">
    <id property="id" column="id" />
    <result property="modeId" column="mode_id"/>
    <result property="modeName" column="mode_name"/>
    <result property="passTime" column="pass_time"/>
    <result property="displayString" column="display_string"/>
  </resultMap>

	<select id="getDailyRaceModeId" parameterType="int" resultMap="baseMap">
	    SELECT * from daily_race_mode_id where id = #{id}
	</select>
	
	<select id="getDailyRaceModeIdList" resultMap="baseMap">
	    SELECT * from daily_race_mode_id
	</select>

	
</mapper>