<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ea.eamobile.nfsmw.model.mapper.DailyRaceRewardMapper">

	<resultMap id="baseMap"
		type="com.ea.eamobile.nfsmw.model.DailyRaceReward">
		<id property="id" column="id" />
		<result property="rpLevel" column="rp_level" />
		<result property="duraNum" column="dura_num" />
		<result property="isFinish" column="is_finish" />
		<result property="rewardId" column="reward_id" />
	</resultMap>

	<select id="getRewardId" resultType="Integer">
		SELECT reward_id from daily_race_reward where rp_level = #{rpLevel} and
		dura_num=#{duraNum} and is_finish=#{isFinish}
	</select>

	<select id="getDailyRaceRewardList" resultMap="baseMap">
		SELECT * from daily_race_reward
	</select>



</mapper>