<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ea.eamobile.nfsmw.model.mapper.HintsMapper">

  <resultMap id="baseMap" type="com.ea.eamobile.nfsmw.model.Hints">
    <id property="id" column="id" />
    <result property="content" column="content"/>
  </resultMap>

	<select id="getHints" parameterType="int" resultMap="baseMap">
	    SELECT * from hints where id = #{id}
	</select>
	
	<select id="getHintsList" resultMap="baseMap">
	    SELECT * from hints
	</select>

	
</mapper>