<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ea.eamobile.nfsmw.model.mapper.LeaderboardMapper">

	<resultMap id="leaderBoardMap" type="com.ea.eamobile.nfsmw.model.Leaderboard">
		<id property="id" column="id" />
		<result property="modeType" column="mode_type" />
		<result property="userId" column="user_id" />
		<result property="userName" column="user_name" />
		<result property="headIndex" column="head_index" />
		<result property="headUrl" column="headUrl" />
		<result property="result" column="result" />
	</resultMap>

	<insert id="insert" parameterType="com.ea.eamobile.nfsmw.model.Leaderboard">
		insert into
		leaderboard(mode_type,user_id,user_name,head_index,head_url,result)
		values(#{modeType},#{userId},#{userName},#{headIndex},#{headUrl},#{result})
	</insert>

	<update id="update" parameterType="com.ea.eamobile.nfsmw.model.Leaderboard">
		update leaderboard set
		mode_type=#{modeType},user_id=#{userId},user_name=#{userName},head_index=#{headIndex},head_url=#{headUrl},
		result=#{result} where id = #{id}
	</update>

	<select id="getLeaderboardByMode" parameterType="int" resultMap="leaderBoardMap">
		SELECT * from leaderboard where mode_type=#{modeType}
	</select>
	
	<select id="getLeaderboardByUserId" parameterType="long" resultMap="leaderBoardMap">
		SELECT * from leaderboard where user_id=#{userId}
	</select>
	
	<select id="getLeaderboardByModeIdAndUserId"  resultMap="leaderBoardMap">
		SELECT * from leaderboard where mode_type=#{modeType} and user_id=#{userId}
	</select>
	
	<delete id="deleteByUserId" parameterType="long">
		delete from leaderboard where user_id=#{userId}
	</delete>
	
	<delete id="deleteByModeType" parameterType="int">
		delete from leaderboard where mode_type=#{modeType}
	</delete>
	
	
	<delete id="deleteByIdList" parameterType="long">
	    delete from leaderboard where user_id in 
		<foreach item="item" collection="ids" open="(" separator=","
			close=")">
			#{item}
		</foreach> 
	</delete>

</mapper>
