<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.ea.eamobile.nfsmw.model.mapper.TournamentLeaderboardChangeRecordMapper">

	<resultMap id="baseMap"
		type="com.ea.eamobile.nfsmw.model.TournamentLeaderboardChangeRecord">
		<id property="id" column="id" />
		<result property="userId" column="user_id" />
		<result property="tournamentOnlineId" column="tournament_online_id" />
		<result property="groupId" column="group_id" />
		<result property="classId" column="class_id" />
		<result property="carId" column="car_id" />
		<result property="raceTime" column="race_time" />
		<result property="averageSpeed" column="average_speed" />
		<result property="time" column="time" />
		<result property="secondConsumbleId" column="second_consumble_id" />
		<result property="thirdConsumbleId" column="third_consumble_id" />
		<result property="firstConsumbleId" column="first_consumble_id" />
	</resultMap>

	<select id="getTournamentLeaderboardChangeRecord" parameterType="int"
		resultMap="baseMap">
		SELECT * from tournament_leaderboard_change_record where id = #{id}
	</select>

	<select id="getTournamentLeaderboardChangeRecordList" resultMap="baseMap">
		SELECT * from tournament_leaderboard_change_record
	</select>

	<insert id="insert"
		parameterType="com.ea.eamobile.nfsmw.model.TournamentLeaderboardChangeRecord"
		keyProperty="id" useGeneratedKeys="true">
		insert into
		tournament_leaderboard_change_record(tournament_online_id,group_id,class_id,car_id,race_time,average_speed,second_consumble_id,third_consumble_id,first_consumble_id,user_id)
		values(#{tournamentOnlineId},#{groupId},#{classId},#{carId},#{raceTime},#{averageSpeed},#{secondConsumbleId},#{thirdConsumbleId},#{firstConsumbleId},#{userId})
	</insert>


</mapper>