<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ea.eamobile.nfsmw.model.mapper.UserFreeFragRecordMapper">

  <resultMap id="baseMap" type="com.ea.eamobile.nfsmw.model.UserFreeFragRecord">
    <id property="id" column="id" />
    <id property="userId" column="user_id" />
    <result property="carId" column="car_id"/>
    <result property="level" column="level"/>
    <result property="lastUseTime" column="last_use_time"/>
    <result property="leftTimes" column="left_times"/>
  </resultMap>

	<select id="getUserFreeFragRecord" parameterType="int" resultMap="baseMap">
	    SELECT * from user_free_frag_record where user_id=#{userId} and car_id=#{carId} and level=#{level}
	</select>
	

	<insert id="insert" parameterType="com.ea.eamobile.nfsmw.model.UserFreeFragRecord" keyProperty="id" useGeneratedKeys="true">
	    insert into user_free_frag_record(user_id,car_id,level,last_use_time,left_times) 
	    values(#{userId},#{carId},#{level},#{lastUseTime},#{leftTimes})
	</insert>
	
	<update id="update"  parameterType="com.ea.eamobile.nfsmw.model.UserFreeFragRecord">
	    update user_free_frag_record set 
      car_id=#{carId},
      level=#{level},
      last_use_time=#{lastUseTime},
      left_times=#{leftTimes}      where id = #{id}
	</update>
	

	
</mapper>