<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ea.eamobile.nfsmw.model.mapper.UserSpendActivityRecordMapper">

  <resultMap id="baseMap" type="com.ea.eamobile.nfsmw.model.UserSpendActivityRecord">
    <id property="id" column="id" />
    <result property="userId" column="user_id" />
    <result property="spendActivityId" column="spend_activity_id"/>
    <result property="spendGoldNum" column="spend_gold_num"/>
  </resultMap>

	<select id="getUserSpendActivityRecord" parameterType="long" resultMap="baseMap">
	    SELECT * from user_spend_activity_record where user_id = #{userId} and spend_activity_id=#{spendActivityId}
	</select>
	

	<insert id="insert" parameterType="com.ea.eamobile.nfsmw.model.UserSpendActivityRecord" keyProperty="id" useGeneratedKeys="true">
	    insert into user_spend_activity_record(user_id,spend_activity_id,spend_gold_num) 
	    values(#{userId},#{spendActivityId},#{spendGoldNum})
	</insert>
	
	<update id="update"  parameterType="com.ea.eamobile.nfsmw.model.UserSpendActivityRecord">
	    update user_spend_activity_record set 
      spend_activity_id=#{spendActivityId},
      spend_gold_num=#{spendGoldNum}      where id = #{id}
	</update>

	
</mapper>