<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ea.eamobile.nfsmw.model.mapper.UserPropMapper">

	<resultMap id="userPropMap" type="com.ea.eamobile.nfsmw.model.bean.UserPropBean">
		<id property="id" column="id" />
		<result property="userId" column="user_id" />
		<result property="propId" column="prop_id" />
		<result property="propCount" column="prop_count" />
	</resultMap>

	<select id="queryById" parameterType="int" resultMap="userPropMap">
		SELECT *
		from user_prop where id = #{id}
	</select>

	<select id="getUserPropByPropId" resultMap="userPropMap">
		SELECT * from
		user_prop where user_id = #{userId} and prop_id=#{propId} limit 1
	</select>

	<select id="getUserProps" resultMap="userPropMap">
		SELECT * from
		user_prop where user_id = #{userId}
	</select>

	<insert id="insert" parameterType="com.ea.eamobile.nfsmw.model.bean.UserPropBean">
		insert ignore into
		user_prop(user_id,prop_id,prop_count)
		values(#{userId},#{propId},#{propCount})
	</insert>

	<update id="update" parameterType="com.ea.eamobile.nfsmw.model.bean.UserPropBean">
		update user_prop set
		user_id=#{userId},prop_id=#{propId},prop_count=#{propCount}
		where id = #{id}
	</update>

	<delete id="deleteById">
		delete from user_prop where id=#{id}
	</delete>
	
	<delete id="deleteByUserId">
		delete from user_prop where user_id=#{userId}
	</delete>
</mapper>
