body{margin:0;padding:6px; border: 1px solid #000;font-size:9pt}
.frame{border: 1px solid #d30000; height:200px; overflow:hidden;background:url(../images/ipad/grey-house.jpg) bottom right no-repeat }
.scrolling{min-height:200px; height:200px; overflow:auto;overflow-scrolling: touch;}
.banner{background:url(../images/iphone/banner.png) right bottom no-repeat; height:43px; width:100%; }
.title_line { height:42px; border-bottom: 1px dashed #515151; text-align:right; position:relative }
.title_bg {position:absolute; left:0;background:url(../images/iphone/title-line-bg.png) repeat-x;height:42px; bottom:-1px }
.mw_log {position:absolute; right:3px; top:-15px; z-index:33}
.announce_pic{position:absolute; left:0px; bottom:2px}
.right_bg {position:absolute;right:0px; bottom:0px; width:271px; overflow:hidden; }
.announce_title {font-size:16px;position:absolute; left:0px; bottom:2px;font-weight:bolder;padding-left:5px; border-left:10px solid #515151; line-height:21px; height:21px; }
.announce ul { list-style-type:square; margin-left: 0px; padding-left: 25px;padding-top:0px; margin-top:5px}
.announce ul li{ padding: 3px 0px;}
.announce ul li ul {list-style-type:circle;}
.announce p {pading:0;padding-left:15px; margin: 5px 0px;}
.announce p a {color:blue}
#ann_logo{margin-top:-20px}